.row
  .col-lg-6.col-lg-offset-3
    .well
      .authform
        = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form-inline'}) do |f|
          %h3 Забыли пароль?
          %p Мы отправим вам инструкции для восстановления пароля.
          = devise_error_messages!
          .form-group
            = f.input :email, as: :email, autofocus: true, class: 'form-control'
            = f.button :submit, 'Восстановить пароль', class: 'btn-primary'
