%p= "Здравстуйте, #{@resource.email}!"

%p Кто-то сделал запрос на изменение вашего пароля. Что бы изменить пароль, перейдите по следующей ссылке в письме.

%p= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)

%p Если вы не запрашивали изменение вашего пароля, то пожалйста игнорируйте это письмо.
%p Ваш пароль не будет изменен до тех пор, пока вы не перейдете по ссылке в письме и не установите новый пароль.

%p= render :partial => 'ihc_email_signature'
